env/include
env/Lib
env/Scripts
env/pyvenv.cfg
envbehave/include
envbehave/Lib
envbehave/Scripts
envbehave/pyvenv.cfg
envbehave/requirements.txt
envbehave/features
squad/include
squad/Lib
squad/Scripts
auto2
env/share/man/man1/ipython.1
env/features/steps/environment.py
squad/features/requirements.txt
squad/features/steps/cadastro.feature
squad/features/steps/cadastro_step.py
requirements.txt
